[submodule "hardware/oc-bip"]
	path = hardware/oc-bip
        url = https://github.com/opencapi/OpenCAPI3.0_Client_RefDesign.git
[submodule "software/FloatX"]
	path = transprecision/FloatX
	url = git@github.com:oprecomp/FloatX.git
[submodule "transprecision/HLS_arbitrary_Precision_Types"]
	path = transprecision/HLS_arbitrary_Precision_Types
	url = git@github.com:Xilinx/HLS_arbitrary_Precision_Types.git
[submodule "transprecision/ac_types"]
	path = transprecision/ac_types
	url = git@github.com:hlslibs/ac_types.git
